@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffd700;
    /* background-color: #ffe13a; */
    color: black;
}

.scrolling-text {
    animation: scrollText 10s linear infinite;
  }

  .animate-marquee {
    animation: marquee 15s linear infinite; 
  }